/* 
==============================================
CONTENT:    Project Name Here
AUTHOR:     Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';

/* 1. Main Layout ================================= */
*{
	box-sizing: border-box;
	text-decoration: none;
}

body{
	background-color: white;
	font-family: 'Futura', sans-serif;
	line-height: 1.6;
}
header {
	text-align: center;
	.hamburger img{
		position: absolute;
		width:30px;
		height:20px;
		margin: 5px 5px;
		top: 0;
		left: 0;
	}
	img.logo{
		margin: 10px 0;
		width: 50px;
	}
	nav{
		display: none;
	}
	nav.showing{
		display: block;
	}
	.secondary-nav {
		position: absolute;
		top: 0;
		right: 0;
	}
	.secondary-nav ul li {
		display: inline-block;
		margin-top:10px;
		margin-left:19px;
		font-size: 11px;
	}
}

@keyframes firstSpoon{
  from,
  0%,
  50%,
  100%,
  to {
	animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
	0%{

	}
	50%{
		transform: rotate(180deg);
	}
	100%{

	}
}

@keyframes secondSpoon{
  from,
  0%,
  50%,
  100%,
  to {
	animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

	0%{

	}
	50%{
		transform: rotate(-180deg);
	}
	100%{
		
	}
}

@keyframes thirdSpoon{
  from,
  0%,
  50%,
  100%,
  to {
	animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

	0%{

	}
	50%{
		transform: rotate(180deg);
	}
	100%{
		
	}
}

@keyframes fourthSpoon{
  from,
  0%,
  50%,
  100%,
  to {
	animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

	0%{

	}
	50%{
		transform: rotate(-180deg);
	}
	100%{
		
	}
}
.firstSpoon{
/*  animation-duration: 1s, 0.8s;
	animation-iteration-count: infinite;
	// normal, reverse, alternate, alternate-reverse
	animation-direction: normal;
	// animation-timing-function:linear;
	// animation-timing-function:steps(3);
	// aniamtion-play-state
*/
	position: relative;
	width: 50%;

	animation-name: firstSpoon;
	animation-play-state:running;
	animation-duration: 5s;
	animation-iteration-count: 5;
	animation-direction: alternate-reverse;
}

.secondSpoon{
	position: relative;
	width: 50%;


	animation-name: secondSpoon;
	animation-play-state:running;
	animation-duration: 5s;
	animation-iteration-count: 5;
	animation-direction: alternate-reverse;
}
.thirdSpoon {
	position: relative;
	width: 50%;

	animation-name: thirdSpoon;
	animation-play-state:running;
	animation-duration: 5s;
	animation-iteration-count: 5;
	animation-direction: alternate-reverse;
}
.fourthSpoon{
	position: relative;
	width: 50%;

	animation-name: fourthSpoon;
	animation-play-state:running;
	animation-duration: 5s;
	animation-iteration-count: 5;
	animation-direction: alternate-reverse;
}

.big-section img{
	width: 16%;
	margin-left:30px;
}

.four-image-section img{
	width: 50%;
	float:left;
	display:block;
}

.cow-section img{
	display:block;
	width:100%;
}

.delivery-section .map,.box{
	width:50%;
	float:left;
}

footer.site-footer{
	background:#f2f3f5;
	padding:1.667em;
	text-align:center
}

footer.site-footer a{
	color:#666
}

footer.site-footer h6{
	font-size:1em;
	color:#666;
	margin:0
}

footer.site-footer ul{
	list-style:none;
	margin:0;
	padding:0;
}

footer.site-footer .footer-menu-group ul{
	margin-bottom:1.5em
}

footer.site-footer .footer-menu-group ul{
	float:left;
	width:50%
}

footer.site-footer .footer-menu-group ul li a{
	font-weight:700;
	text-transform:uppercase
}

@media screen and (min-width:728px){
	.four-image-section img{
	width: 25%;
	display:block;
	}

	.big-section img{
	width: 25%;
	height: 25%;
	margin-left:40px;
	}

	.secondary-nav{
		display:block;
		float:right;
		margin:5px;
	}

	footer.site-footer .footer-menu-group{
		float:left;
		width:36%;
		text-align:left
	}
	footer.site-footer .footer-menu-group{
		width:28%
	}
	footer.site-footer .footer-menu-group ul ul a{
		font-size:.9em
	}

	footer.site-footer .copyright{
		float:right;
		width:36%;
		padding:-10px;
	}

	footer.site-footer .copyright{
		font-weight:700;
		text-transform:uppercase;
		font-size:.75rem;
		line-height:1.5;
		clear:right
	}

	footer.site-footer .copyright span{
		opacity:.4
	}
}

@media screen and (min-width: 1024px){
	.big-section img{
	width: 20%;
	margin-left:50px;
	}

	.secondary-nav{
		display:block;
		float:right;
		margin:5px;
	}

	footer.site-footer{
	background:#f2f3f5;
	padding:1.667em;
	text-align:center
	}

	footer.site-footer a{
		color:#666
	}

	footer.site-footer h6{
		font-size:1em;
		color:#666;
		margin:0;
		float: left;
		width: 36%;
		text-align: left;
	}
}


